<div class="a-group">
  <a href="###">项目维护</a>
  <a href="###">生产计划维护</a>
</div>

<div class="a-group">
  <a href="###">生产派工</a>
  <a href="###">生产报工</a>
  <a href="###">s生产误工</a>
  <a href="###">QRT记录</a>
  <a href="###">借入借出记录</a>
</div>


<div class="a-group">
  <a href="###">进料检验</a>
  <a href="###">过程检验</a>
  <a href="###">NCR维护</a>
  <a href="###">PunchList</a>
  <a href="###">非NCR记录</a>
  <a href="###">质量门记录</a>
</div>


<div class="a-group">
  <a href="###">工序配置</a>
  <a href="###">工位配置</a>
  <a href="###">工步配置</a>
  <a href="###">进料检验模板配置</a>
  <a href="###">过程检验项</a>
  <a href="###">过程检验目标项</a>
  <a href="###">供应商表</a>

</div>
